<template>
  <div class="check-in container">
    <div id="checkin-list" class="my-3">
      <h3 class="mb-3">Check In List</h3>
      <template v-if="isClosed">
        <div class="alert alert-info">
          <font-awesome-icon icon="exclamation-triangle" />
          No longer append new players while a game is processing.
        </div>
      </template>
      <template v-else>
        <form @submit.prevent="checkInNewPlayer(form.entryName)">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="newCheckIn"
              placeholder="Player name..." v-model="form.entryName">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" :disabled="isBusy">Check In</button>
            </div>
          </div>
        </form>
        <form @submit.prevent="readTwipla(form.eventId)">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="twiplaCheckIn"
              placeholder="twipla event id" v-model="form.eventId">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" :disabled="isBusy">Check In</button>
            </div>
          </div>
        </form>
      </template>
      <table class="table">
        <colgroup>
          <col class="col-checkin-num">
          <col>
          <col class="col-action">
        </colgroup>
        <tr>
          <th>Check In No.</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
        <tr v-for="p in players" :key="p.seq" :class="{ dropped: p.isDropped }">
          <td>{{ p.seq }}</td>
          <td>
            <template v-if="p.seq === renamingSeq">
              <form class="form-inline" @submit.prevent="renamePlayer(form.renameField)">
                <input class="form-control mr-2" type="text" v-model="form.renameField" />
                <button class="btn btn-sm btn-light mr-2" type="submit">&#x2713;</button>
                <button class="btn btn-sm btn-light mr-2" type="button" @click="abortRename">&times;</button>
              </form>
            </template>
            <template v-else>
              {{ p.name }}
            </template>
          </td>
          <td class="dropdown">
            <button class="btn btn-light btn-sm" data-toggle="dropdown"><font-awesome-icon icon="ellipsis-h" /></button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" v-if="!isClosed" @click="showRenameForm(p.seq)">Rename</a>
              <a class="dropdown-item" v-if="!isClosed" @click="deletePlayer(p.seq)">Delete</a>
              <a class="dropdown-item" v-if="isClosed" @click="dropPlayer(p.seq)">Drop</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { TYPE } from "vue-toastification"
import axios from 'axios'
export default {
  name: 'CheckIn',
  components: {
  },
  data() {
    return {
      form: {
        entryName: "",
        renameField: "",
      },
      renamingSeq: null,
      isBusy: false,
    }
  },
  computed: {
    players() {
      return this.$store.state.player.list
    },
    isClosed() {
      return this.$store.state.round.count > 0
    },
  },
  methods: {
    checkInNewPlayer(name) {
      if(name) {
        this.$store.commit('addPlayer', { name })
        this.form.entryName = ""
      }
    },
    showRenameForm(seq) {
      this.renamingSeq = seq
      this.form.renameField = this.players.find(p => p.seq == seq).name
    },
    abortRename() {
      this.renamingSeq = null
    },
    renamePlayer(name) {
      if(name) {
        this.$store.commit('renamePlayer', {
          seq: this.renamingSeq,
          name: name
        })
        this.renamingSeq = null
      }
    },
    deletePlayer(seq) {
      const name = this.players.find(p => p.seq === seq).name
      this.$store.commit('deletePlayer', seq)
      this.$toast.success(`Deleted player#${seq} ${name}.`)
    },
    dropPlayer(seq) {
      const name = this.players.find(p => p.seq === seq).name
      this.$store.commit('dropPlayer', seq)
      this.$toast.success(`Dropped player#${seq} ${name}.`)
    },
    readTwipla: function(eventId){
      this.isBusy = true
      const busyToast = this.$toast('Loading event member list...', { timeout: false }, true)
      axios.get('https://cksa7u26z0.execute-api.ap-northeast-1.amazonaws.com/api/twipla_reader', {params:{event_id:eventId}})
          .then(response => {
            response.data.forEach(element => {
              var name = element.trim()
              this.$store.commit('addPlayer', { name })
            })
            
            this.$toast.update(busyToast, {
              content: 'Loaded member data!',
              options: {
                type: TYPE.SUCCESS,
                timeout: 3000,
              }
            })
            this.form.eventId = ""
          })
          .catch(error => {
            console.log('Error', error.message)
            this.$toast.update(busyToast, {
              content: 'Loading error!',
              options: {
                type: TYPE.ERROR,
                timeout: 3000,
              }
            })
          })
          .finally(() => {
            this.isBusy = false
          })
    },
  }
}
</script>
<style scoped>
.col-checkin-num {
  width: 8em;
}
.col-action {
  width: 2em;
}
.table td {
  vertical-align: baseline;
}
.table td:nth-child(1),
.table td:nth-child(3) {
  text-align: center;
}
.dropped {
  color: silver;
}
.dropped td:nth-child(2)::before {
  content: '(Dropped) ';
}
</style>
