<template>
  <div class="config container">
    <h3>Config</h3>
    <div class="row p-2">
      <div class="col-sm-9">
        <div>Lorem ipsum</div>
        <div><small>The quick brown fox jumps over the lazy dog.</small></div>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-primary">Noop</button>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: "Config",
}
</script>
<style scoped>

</style>
