<template>
  <div class="home container">
    <div class="summary">
      <h3>Summary</h3>
      <table class="table">
        <colgroup>
          <col class="col-key">
          <col>
        </colgroup>
        <tbody>
          <tr>
            <th scope="row">Status</th>
            <td>{{ statusText }}</td>
          </tr>
          <tr>
            <th scope="row">Players</th>
            <td>{{ $store.state.player.list.length }} / {{ $store.state.rule.maxPlayer }} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>Backups</h3>
      <div>
        <button class="btn btn-link my-2"
          data-toggle="collapse"
          data-target="#backup-list">
          Show
        </button>
        <div id="backup-list" class="list-group collapse">
          <template v-if="backups.length">
            <a href="#"
              class="list-group-item list-group-item-action"
              v-for="b in backups"
              :key="b.id"
              @click="restoreData(b)">
              Started: {{ b.startTime | timestamp }}
            </a>
          </template>
          <div v-else
            class="alert alert-secondary my-2">
            No backups
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { RoundStatus } from '@/utils/constraints'

export default {
  name: "Home",
  computed: {
    backups() {
      return this.$store.state.backups
    },
    statusText() {
      const round = this.$store.state.round
      if(round.count === 0) {
        return "Checking in"
      }
      if(round.status === RoundStatus.RUNNING) {
        return `Round ${round.count} is running`
      }
      return `Round ${round.count} is finished`
    },
  },
  filters: {
    timestamp(value) {
      var date = new Date(value)
      return date.toLocaleString()
    }
  },
  methods: {
    restoreData(backup) {
      this.$store.dispatch('restoreData', backup)
    }
  },
}
</script>
<style scoped>
.summary .col-key {
  width: 8rem;
}
</style>
