<template>
  <div class="leaderboard container">
    <div class="my-3">
      <h3 class="mb-3">Leaderboard</h3>
      <div class="table-responsive">
        <table class="table">
          <colgroup>
            <col class="col-place">
            <col class="col-name">
            <col class="col-point">
            <col class="col-win">
            <col class="col-lose">
            <col class="col-draw">
            <col v-for="tb in tieBreaks" :key="tb.key" :class="`col-tb col-tb-${tb.key}`" />
          </colgroup>
          <tr>
            <th>Place</th>
            <th>Name</th>
            <th>Point</th>
            <th>Win</th>
            <th>Lose</th>
            <th>Draw</th>
            <th v-for="tb in tieBreaks" :key="tb.key">
              {{ tb.name }}
            </th>
          </tr>
          <tr v-for="(p, idx) in leaders"
            :key="p.seq"
            :class="{ dropped: p.isDropped }">
            <td>{{ idx + 1 }}</td>
            <td class="cell-name">
              <a href="#"
                data-toggle="collapse"
                :data-target="`div.collapse[data-idx='${idx}']`">
                  {{ p.name }}
              </a>
              <div class="collapse" :data-idx="idx">
                <div v-if="p.record">
                  <div v-if="p.record.result == 'ng'">
                    {{ p.record.message }}
                  </div>
                  <div v-else-if="p.record.error">
                    {{ p.record.error }}
                  </div>
                  <div v-else>
                    <div>
                      Match
                      {{ p.record.game_wins | countable('Win') }},
                      {{ p.record.game_loses | countable('Lose') }},
                      {{ p.record.game_draws | countable('Draw') }}
                    </div>
                    <div>
                      Place Average: {{ p.record.average_place.toFixed(1) }}
                    </div>
                    <div>
                      Competitions
                      {{ p.record.competition_entries | countable('Entry', 'Entries') }},
                      {{ p.record.competition_victories | countable('Victory', 'Victories') }}
                    </div>
                  </div>
                </div>
                <div v-else class="spinner-border spinner-border-sm text-muted"></div>
              </div>
            </td>
            <td>{{ p.point }}</td>
            <td>{{ p.win }}</td>
            <td>{{ p.lose }}</td>
            <td>{{ p.draw }}</td>
            <td v-for="tb in tieBreaks" :key="tb.key">
              {{ p[tb.key] | dataFilter(tb.format) }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <hr>
    <div class="my-3">
      <h3>Experimental</h3>
      <div>
        <button class="btn btn-light" @click="checkSentResult">Send result</button>
      </div>
    </div>

    <base-modal id="confirmSend">
      <template #header>
        <h4 class="modal-title">Confirm</h4>
      </template>
      <template #default>
        <p>
          A result of this tournament was already sent!
        </p>
        <p>
          Are you sure to send result again?
        </p>
      </template>
      <template #footer>
        <button class="btn btn-secondary" data-dismiss="modal">Back</button>
        <button class="btn btn-warning" data-dismiss="modal" @click="sendTournamentResult">Send</button>
      </template>
    </base-modal>
  </div>
</template>

<script>
// @ is an alias to /src
import $ from 'jquery'
import { TYPE } from "vue-toastification"
import BaseModal from "@/components/BaseModal.vue"
import axios from 'axios'

export default {
  name: 'Leaderboard',
  components: {
    BaseModal,
  },
  data() {
    return {
      leaders: this.$store.getters.leaderboard.map(p => ({...p, record: null}))
    }
  },
  computed: {
    sentResult() {
      return this.$store.state.sentResult
    },
    tieBreaks() {
      return this.$store.state.rule.tieBreaksEnabled.slice(1)
    },
  },
  created() {
    let vm = this
    $(function() {
      $('.collapse').on('show.bs.collapse', function() {
        let idx = $(this).data('idx')
        if(!vm.leaders[idx].record) {
          vm.fetchTournamentRecord(vm.leaders[idx].name)
          .then(function(resp) {
            return resp.data
          })
          .then(function(data) {
            vm.leaders[idx].record = data
          })
          .catch(function() {
            vm.leaders[idx].record = { error: 'fetch error' }
          })
        }
      })
    })
  },
  methods: {
    checkSentResult() {
      if(this.sentResult) {
        $('#confirmSend').modal("show")
      } else {
        this.sendTournamentResult()
      }
    },
    sendTournamentResult() {
      const busyToast = this.$toast('Sending tournament result...', { timeout: false })
      this.$store.dispatch('sendTournamentResult')
      .then(() => {
        this.$toast.update(busyToast, {
          content: 'Success to send result!',
          options: {
            type: TYPE.SUCCESS,
            timeout: 3000,
          }
        }, true)
      })
      .catch(reason => {
        this.$toast.update(busyToast, {
          content: 'Fail to send result: ' + reason,
          options: {
            type: TYPE.ERROR,
            timeout: 3000,
          }
        }, true)
      })
    },
    fetchTournamentRecord(playerName) {
      return axios.get("https://cksa7u26z0.execute-api.ap-northeast-1.amazonaws.com/api/results", {
        params: {
          player: playerName,
          platform: 'huruyoni',
        }
      })
    },
  },
  filters: {
    countable(value, unit, plural) {
      return `${value} ${value == 1 ? unit : (plural || unit + 's')}`
    },
    dataFilter(value, format) {
      switch(format) {
      case 'rate':
        return value.toFixed(3)
      default:
        return value
      }
    }
  },
}
</script>
<style scoped>
.table th:not(:nth-child(2)),
.table td:not(:nth-child(2)) {
  text-align: center;
}

.table .col-win,
.table .col-lose,
.table .col-draw {
  width: 3rem;
}
.table .col-place,
.table .col-point {
  width: 8rem;
}
.table .col-tb {
  width: 4rem;
}

.table .cell-name {
  word-break: keep-all;
}

.table .dropped {
  color: silver;
}
.table .dropped .cell-name::before {
  content: '(Dropped) ';
}
</style>
