<template>
  <div id="rule" class="container">
    <h3>Rules</h3>

    <div v-if="isClosed" class="alert alert-info">
      <font-awesome-icon icon="exclamation-triangle" />
      Rules are immutable while a game is processing.
    </div>

    <base-input
        :class="{ 'form--error': $v.form.eventName.$error }"
        id="event-name"
        label="Event Name"
        type="text"
        v-model="$v.form.eventName.$model"
        :disabled="isClosed">
    </base-input>
    <base-input
        :class="{ 'form--error': $v.form.organizer.$error }"
        id="organizer"
        label="Organizer"
        type="text"
        v-model="$v.form.organizer.$model"
        :disabled="isClosed">
    </base-input>
    <base-input
        :class="{ 'form--error': $v.form.maxPlayer.$error }"
        id="max-player"
        label="Max number of players"
        type="number"
        v-model.number="$v.form.maxPlayer.$model"
        :disabled="isClosed">
    </base-input>
    <div v-if="!$v.form.maxPlayer.required" key="maxplayer-error" class="form--error-message">
      {{ invalidFormMessage.required }}
    </div>
    <div v-else-if="!$v.form.maxPlayer.minValue" key="maxplayer-error" class="form--error-message">
      {{ invalidFormMessage.minValue($v.form.maxPlayer.$params.minValue.min) }}
    </div>

    <base-input
        :class="{ 'form--error': $v.form.maxRound.$error }"
        id="max-round"
        :label="`Max number of rounds (Recommended: ${ recommendedRound })`"
        type="number"
        v-model.number="$v.form.maxRound.$model"
        :disabled="isClosed">
    </base-input>
    <div v-if="!$v.form.maxRound.required" key="maxround-error" class="form--error-message">
      {{ invalidFormMessage.required }}
    </div>
    <div v-else-if="!$v.form.maxRound.minValue" key="maxround-error" class="form--error-message">
      {{ invalidFormMessage.minValue($v.form.maxRound.$params.minValue.min) }}
    </div>

    <base-input
        :class="{ 'form--error': $v.form.pointWin.$error }"
        id="point-win"
        label="Win point"
        type="text"
        v-model.number="$v.form.pointWin.$model"
        :disabled="isClosed">
    </base-input>
    <div v-if="!$v.form.pointWin.required" key="pointwin-error" class="form--error-message">
      {{ invalidFormMessage.required }}
    </div>
    <div v-else-if="!$v.form.pointWin.decimal" key="pointwin-error" class="form--error-message">
      {{ invalidFormMessage.decimal }}
    </div>
    <div v-else-if="!$v.form.pointWin.minValue" key="pointwin-error" class="form--error-message">
      {{ invalidFormMessage.minValue(form.pointDraw) }}
    </div>

    <base-input
        :class="{ 'form--error': $v.form.pointDraw.$error }"
        id="point-draw"
        label="Draw point"
        type="text"
        v-model.number="$v.form.pointDraw.$model"
        :disabled="isClosed">
    </base-input>
    
    <div v-if="!$v.form.pointDraw.required" key="pointdraw-error" class="form--error-message">
      {{ invalidFormMessage.required }}
    </div>
    <div v-else-if="!$v.form.pointDraw.decimal" key="pointdraw-error" class="form--error-message">
      {{ invalidFormMessage.decimal }}
    </div>
    <div v-else-if="!$v.form.pointDraw.minValue" key="pointdraw-error" class="form--error-message">
      {{ invalidFormMessage.minValue($v.form.pointDraw.$params.minValue.min) }}
    </div>

    <div class="mb-2">
      <label>Standard</label>
      <select class="custom-select"
        name="standard"
        v-model="$v.form.standard.$model"
        :disabled="isClosed">
        <option v-for="[k, v] in selections.standard" :key="k" :value="k">{{ v.name }}</option>
      </select>
    </div>

    <div class="mb-2">
      <label>Choice</label>
      <select class="custom-select"
        name="choice"
        v-model="$v.form.choice.$model"
        :disabled="isClosed">
        <option v-for="[k, v] in selections.choice" :key="k" :value="k">{{ v.name }}</option>
      </select>
    </div>

    <div class="mb-2 tiebreak">
      <div class="form-label">Tiebreaks</div>
      <div class="row">
        <div class="col-sm-6">
          <b>Enabled</b>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-index">Order</th>
                <th>Name</th>
                <th class="col-handle"></th>
              </tr>
            </thead>
            <draggable
              v-model="$v.form.tieBreaksEnabled.$model"
              group="tie-break"
              tag="tbody"
              draggable=".item"
              handle=".handle"
              @start="drag=true"
              @end="drag=false">
              <tr v-for="(tb, idx) in $v.form.tieBreaksEnabled.$model" :key="tb.key"
                :class="{
                  'item': !tb.priorityFixed,
                  'text-secondary': tb.priorityFixed,
                }">
                <td>{{ idx + 1 }}</td>
                <td>{{ tb.name }}</td>
                <td>
                  <font-awesome-icon v-if="!tb.priorityFixed && !isClosed" icon="grip-lines" class="handle" />
                </td>
              </tr>
            </draggable>
          </table>
        </div>
        <div class="col-sm-6">
          <b>Disabled</b>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-index"></th>
                <th>Name</th>
                <th class="col-handle"></th>
              </tr>
            </thead>
            <draggable
              v-model="$v.form.tieBreaksDisabled.$model"
              group="tie-break"
              tag="tbody"
              draggable=".item"
              handle=".handle"
              @start="drag=true"
              @end="drag=false">
              <tr v-for="tb in $v.form.tieBreaksDisabled.$model" :key="tb.key"
                :class="{
                  'item': !tb.priorityFixed,
                  'text-secondary': tb.priorityFixed,
                }">
                <td></td>
                <td>{{ tb.name }}</td>
                <td><font-awesome-icon v-if="!isClosed" icon="grip-lines" class="handle" /></td>
              </tr>
            </draggable>
          </table>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <button type="button" class="btn btn-outline-info" :disabled="$v.$invalid" @click="saveDefaultRule">Save as default</button>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { required, minValue, integer, decimal, or } from 'vuelidate/lib/validators'
import Draggable from 'vuedraggable'
import BaseInput from '@/components/BaseInput.vue'
import localStorage from '@/persistent/localstorage'
import { StandardMap, ChoiceMap } from '@/utils/constraints'
import { invalidFormMessageData } from '@/mixins'

export default {
  name: 'Rule',
  components: {
    BaseInput,
    Draggable,
  },
  mixins: [
    invalidFormMessageData
  ],
  data() {
    return {
      form: {
        eventName: this.$store.state.rule.eventName,
        organizer: this.$store.state.rule.organizer,
        maxPlayer: this.$store.state.rule.maxPlayer,
        maxRound: this.$store.state.rule.maxRound,
        pointWin: this.$store.state.rule.pointWin,
        pointDraw: this.$store.state.rule.pointDraw,
        standard: this.$store.state.rule.standard,
        choice: this.$store.state.rule.choice,
        tieBreaksEnabled: this.$store.state.rule.tieBreaksEnabled,
        tieBreaksDisabled: this.$store.state.rule.tieBreaksDisabled,
      },
      selections: {
        standard: StandardMap,
        choice: ChoiceMap,
      },
    }
  },
  computed: {
    recommendedRound() {
      return Math.ceil(Math.log2(this.form.maxPlayer))
    },
    isClosed() {
      return this.$store.state.round.count > 0
    },
  },
  validations() {
    return {
      form: {
        eventName: {
        },
        organizer: {
        },
        maxPlayer: {
          required,
          integer,
          minValue: minValue(4),
        },
        maxRound: {
          required,
          integer,
          minValue: minValue(2),
        },
        pointWin: {
          required,
          decimal,
          minValue: or(minValue(this.form.pointDraw), () => isNaN(this.form.pointDraw)),
        },
        pointDraw: {
          required,
          decimal,
          minValue: minValue(0),
        },
        tieBreaksEnabled: {
          $each: {}
        },
        tieBreaksDisabled: {
          $each: {}
        },
        standard: {},
        choice: {}
      },
    }
  },
  methods: {
    setRule() {
      if(this.isClosed) {
        console.error('rules are immutable')
      } else if(this.$v.$invalid) {
        // error
        console.error('Some rules are invalid');
      } else {
        this.$store.commit('setRule', this.form)
        this.$v.$reset()
      }
    },
    saveDefaultRule() {
      if(this.$v.$invalid) {
        // error
        console.error('Some rules are invalid');
      } else {
        localStorage.setItem('defaultRules', JSON.stringify(this.form))
        this.$toast.success('Default rule saved.')
      }
    },
  },
  watch: {
    form: {
      deep: true,
      handler() {
        this.setRule()
      }
    }
  },
}
</script>
<style scoped>
.form--error >>> .form-control {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.form--error-message {
  font-size: small;
  color: #f57f6c;
}

.form-group {
  margin-bottom: 1.75rem;
}

.form-group + .form--error-message {
  margin-top: -1.2rem;
}

.form-label {
  margin-bottom: 0.5rem;
}

.tiebreak .row {
  margin: auto 0.5rem;
}

.col-handle {
  width: 2rem;
}

.col-index {
  width: 5rem;
}

.handle {
  cursor: move;
}
</style>
