<template>
  <div class="container">
    <h3 class="mb-3">Tables</h3>
    <div class="playtables">
      <play-table class="playtables-table m-2 p-3" v-for="table in tables" :key="table.seq" :table="table" @gameset="showModal">
      </play-table>
    </div>
    <div v-if="tables.length == 0" class="alert alert-secondary my-2">
      No tables
    </div>
    <div>
      <button class="btn" :class="finishClass" @click="confirmFinish" v-if="isRunning">Round Over</button>
      <button class="btn btn-primary" @click="confirmAdvance" v-if="isPending && round < maxRound">{{ advanceLabel }}</button>
    </div>
    <div v-if="nodeEnv === 'development'">
      <hr>
      <p>Develop only</p>
      <div>
        <button class="btn btm-sm btn-outline-secondary" @click="generateTables">matching</button>
      </div>
    </div>
    <input-result-modal id="inputResult" :table="resultModalTableObj" @decideresult="saveResult" />
    <confirm-round-advance-modal id="confirmRoundAdvance" @confirm="advanceRound" />
    <confirm-round-over-modal id="confirmRoundOver" @confirm="finishRound" />
  </div>
</template>

<script>
// @ is an alias to /src
import $ from 'jquery'
import { mapState } from 'vuex'
import PlayTable from '@/components/PlayTable.vue'
import InputResultModal from '@/components/InputResultModal.vue'
import ConfirmRoundAdvanceModal from '@/components/ConfirmRoundAdvanceModal.vue'
import ConfirmRoundOverModal from '@/components/ConfirmRoundOverModal.vue'
import { RoundStatus } from '@/utils/constraints.js'

export default {
  name: 'Tables',
  components: {
    PlayTable,
    InputResultModal,
    ConfirmRoundAdvanceModal,
    ConfirmRoundOverModal,
  },
  data() {
    return {
      resultModalTableObj: undefined,
      nodeEnv: process.env.NODE_ENV,
    }
  },
  computed: {
    ...mapState({
      tables: state => state.table.list,
      roundStatus: state => state.round.status,
      round: state => state.round.count,
      maxRound: state => state.rule.maxRound,
    }),
    isPending() {
      return this.roundStatus === RoundStatus.PENDING
    },
    isRunning() {
      return this.roundStatus === RoundStatus.RUNNING
    },
    advanceLabel() {
      return this.round > 0 ? 'Next Round' : 'Start Round'
    },
    finishClass() {
      let isFinish = this.tables.every(t => t.result && (t.result.isDraw || t.result.winner))
      return {
        'btn-danger': isFinish,
        'btn-outline-danger': !isFinish,
      }
    }
  },
  methods: {
    showModal(tableSeq) {
      this.resultModalTableObj = this.tables.find(t => t.seq === tableSeq)
      $('#inputResult').modal('show')
    },
    confirmAdvance() {
      $('#confirmRoundAdvance').modal('show')
    },
    confirmFinish() {
      $('#confirmRoundOver').modal('show')
    },
    generateTables() {
      this.$store.dispatch('makePlayerMatches')
    },
    saveResult(result) {
      this.$store.dispatch('saveTableResult', result)
    },
    finishRound() {
      this.$store.dispatch('finishRound')
    },
    advanceRound() {
      this.$store.dispatch('advanceRound')
    },
  }
}
</script>
<style scoped>
.playtables {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(120px, auto)
}

@media (min-width: 768px) {
  .playtables {
    grid-template-columns: repeat(2, 1fr);
  }
}
</style>