<template>
  <base-modal :id="id" class="confirmRoundAdvance">
    <template #header>
      <h4 class="modal-title">Confirm</h4>
    </template>

    <template #default>
      <template v-if="round == 0">
        <p>
          <font-awesome-icon v-bind="iconAttr[checkInStatus]" />
          {{ players.length }} players checked in; the capacity is {{ maxPlayer }}.
        </p>
      </template>
      <p v-if="!isDenied">
        Are you sure to start Round {{ round + 1 }}?
      </p>
    </template>

    <template #footer>
      <button class="btn btn-secondary" data-dismiss="modal">Back</button>
      <button class="btn btn-primary" data-dismiss="modal" v-if="!isDenied" @click="$emit('confirm')">Proceed</button>
    </template>
  </base-modal>
</template>
<script>
import { mapState } from 'vuex'
import BaseModal from '@/components/BaseModal.vue'
import { iconAttrData } from '@/mixins'

export default {
  name: "ConfirmRoundAdvanceModal",
  components: {
    BaseModal,
  },
  mixins: [ iconAttrData ],
  props: ["id"],
  computed: {
    ...mapState({
      minPlayer: state => state.rule.minPlayer,
      maxPlayer: state => state.rule.maxPlayer,
      players: state => state.player.list,
      round: state => state.round.count,
    }),
    checkInStatus() {
      return this.players.length === this.maxPlayer ? 'success'
          : this.players.length >= this.minPlayer
            && this.players.length <= this.maxPlayer ? 'warning'
          : 'danger'
    },
    isDenied() {
      return [this.checkInStatus].includes("danger")
    },
  },
}
</script>
