<template>
  <base-modal :id="id" class="confirmRoundOver">
    <template #header>
      <h4 class="modal-title">Confirm</h4>
    </template>

    <template #default>
      <template v-if="processing == 0">
        <p>
          <font-awesome-icon v-bind="iconAttr.success" />
          All games were finished in this round!
        </p>
      </template>
      <template v-else>
        <p>
          <font-awesome-icon v-bind="iconAttr.warning" />
          {{ processing }} game(s) are processing in this round.
        </p>
        <p class="note warning p-2">
          <b>Caution:</b> if this round is over, all players on processing table are lose.
        </p>
      </template>
    </template>

    <template #footer>
      <button class="btn btn-secondary" data-dismiss="modal">Back</button>
      <button class="btn btn-primary" data-dismiss="modal" @click="$emit('confirm')">Proceed</button>
    </template>
  </base-modal>
</template>
<script>
import { mapState } from 'vuex'
import BaseModal from '@/components/BaseModal.vue'
import { iconAttrData } from '@/mixins'

export default {
  name: "ConfirmRoundOverModal",
  components: {
    BaseModal,
  },
  mixins: [ iconAttrData ],
  props: ["id"],
  computed: {
    ...mapState({
      tables: state => state.table.list,
    }),
    processing() {
      return this.tables.filter(t => !t.result || !t.result.isDraw && !t.result.winner).length
    },
  },
}
</script>
<style scoped>
.confirmRoundOver .note.warning {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}
</style>
