<template>
  <div class="playtables-table m-2">
    <div class="players-display my-2">
      <!-- begin players row -->
      <div class="playername">{{ table.players[0] | playerLabel }}</div>
      <div class="versus">vs</div>
      <div class="playername">{{ table.players[1] | playerLabel }}</div>
      <!-- end players row-->
    </div>
    <div id="status" class="my-2">
      {{ gameStatus }}
    </div>
    <div class="my-2">
      <button class="btn" :class="classGameSetBtn" :disabled="$store.state.round.status != 'running'" @click="$emit('gameset', table.seq)">Game Set</button>
    </div>
  </div>
</template>
<script>
  
export default {
  name: "PlayTable",
  props: {
    table: {
      type: Object,
      default: () => ({
        seq: 0,
        players: [
          { seq: 0, name: "player 1" },
          { seq: 0, name: "player 2" },
        ]
      })
    }
  },
  computed: {
    gameStatus() {
      return !this.table.result ? 'Processing'
            : this.table.result.isDraw ? 'Draw'
            : this.table.result.winner ? `[${this.table.result.winner}] ${this.table.players.find(e => e.seq === this.table.result.winner).name} Won`
            : 'Processing'
    },
    classGameSetBtn() {
      let isGameSet = this.table.result && (this.table.result.isDraw || this.table.result.winner)
      return {
        "btn-primary": !isGameSet,
        "btn-outline-primary": isGameSet,
      }
    },
  },
  filters: {
    playerLabel(player) {
      return `[${player.seq}] ${player.name}`
    },
  },
}
</script>
<style scoped>
.playtables-table {
  border: 2px solid silver;
  text-align: center;
}

.playtables-table .playername {
  font-size: 1.6em;
  font-weight: bold;
}

.playtables-table .versus {
  font-size: 1.6em;
}

@media (min-width: 768px) {
  .playtables-table .players-display {
    display: grid;
    grid-template-columns: 1fr 5em 1fr;
    grid-row-gap: 0.8em;
    text-align: center;
  }
}
</style>