<template>
  <div class="toast-quick-restore">
    <div>
      The recently saved backup was found.
    </div>
    <div>
      <button type="button"
        class="btn"
        @click.stop="$emit('quick-restore')">
        Restore
      </button>      
    </div>
  </div>
</template>
<script>
export default {
  name: "ToastQuickRestore"
}
</script>
<style scoped>
.btn {
  border: 1px solid white;
  color: white;  
  opacity: 0.8;
  transition: opacity .15s ease-in-out;
}
.btn:hover {
  color: white;
  opacity: 1;
}
</style>
