<template>
  <div class="toast-pwa-refresh">
    <div>
      A new version is available.
    </div>
    <div>
      <button type="button"
        class="btn"
        @click.stop="reload">
        Refresh
      </button>      
    </div>
  </div>
</template>
<script>
export default {
  name: "ToastPwaRefresh",
  methods: {
    reload() {
      location.reload()
    },
  },
}
</script>
<style scoped>
.btn {
  border: 1px solid white;
  color: white;  
  opacity: 0.8;
  transition: opacity .15s ease-in-out;
}
.btn:hover {
  color: white;
  opacity: 1;
}
</style>
