<template>
  <div id="app">
    <div class="container">
      <div id="app-header" class="card bg-light">
        <div class="card-body py-2">
          <span class="card-title">{{ appTitle }}</span>
          <span>{{ 'v' + appVersion }}</span>
          <span class="flex-end">
            <a class="repo-link"
              title="SDM repository (Bitbucket)"
              href="https://bitbucket.org/shama265/swiss-draw-manager/"
              target="_blank">
              <font-awesome-icon :icon="['fab', 'bitbucket']" />
            </a>
          </span>
        </div>
      </div>
    </div>
    <ul id="nav" class="nav container my-3">
      <li class="nav-item">
        <router-link class="nav-link" data-toggle="tab" to="/">Home</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" data-toggle="tab" to="/rule">Rule</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" data-toggle="tab" to="/check-in">Check-In</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" data-toggle="tab" to="/tables">Tables</router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" data-toggle="tab" to="/leaderboard">Leaderboard</router-link>
      </li>
    </ul>
    <router-view/>
  </div>
</template>
<script>
import ToastQuickRestore from '@/components/ToastQuickRestore.vue'
import ToastPwaRefresh from '@/components/ToastPwaRefresh.vue'

const QUICK_RESTORE_TIMEOUT = 10000
const QUICK_RESTORE_THRESHOLD = 8 * 60 * 60 * 1000

export default {
  data() {
    return {
      appTitle: process.env.VUE_APP_TITLE,
      appVersion: process.env.VUE_APP_VERSION,
    }
  },
  computed: {
    isWaitingRefresh() {
      return this.$store.state.isWaitingRefresh
    },
  },
  created() {
    this.$store.dispatch('initBackups')
    .then(latest => {
      const now = Date.now()
      if(latest && now - latest.startTime.getTime() < QUICK_RESTORE_THRESHOLD) {
        const toastId = this.$toast.info({
          component: ToastQuickRestore,
          listeners: {
            'quick-restore': () => {
              this.$store.dispatch('restoreData', latest)
              .then(() => {
                this.$toast.dismiss(toastId)
                this.$toast.success('Restored!')
              })
            },
          }
        }, {
          timeout: QUICK_RESTORE_TIMEOUT,
          hideProgressBar: false,
          closeOnClick: false,
        })
      }
    })
  },
  watch: {
    isWaitingRefresh(newValue) {
      if(newValue) {
        this.$toast.info({
          component: ToastPwaRefresh,
        }, {
          timeout: false,
          closeOnClick: false,
        })
      }
    }
  },
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#app-header .card-body {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

#app-header .card-title {
  font-size: 1.5rem;
  margin: 0 1rem 0 0;
}

#app-header .flex-end {
  margin-left: auto;
}

#app-header .repo-link {
  font-size: 1.5rem;
  color: #2c3e50;
}

#app-header .repo-link:hover {
  color: #0052cc;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
